<div id="<%= dom_id brewery %>">
  <h2>
    <em><%= brewery.name %></em>
  </h2>

  <p>
    <strong>Year:</strong>
    <%= brewery.year %>
  </p>

  <p>
    <strong>Beers:</strong>
    <%= @brewery.beers.count %>
  </p>

  <p>
    <% brewery.beers.each do |beer| %>
      <%= link_to beer.name, beer %>
    <% end %>
  </p>

</div>
