<p style="color: green"><%= notice %></p>

<h1>Beers</h1>

<div id="beers">
  <% @beers.each do |beer| %>
    <p>
      <%= link_to beer.name, beer %>
    </p>

    <p>
      <strong>Style:</strong>
      <%= beer.style %>
    </p>
  <% end %>
</div>

<%= link_to "New beer", new_beer_path %>

<%= link_to "list of breweries", breweries_path %>
